apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.community.config.name }}
  labels:
    release: {{ .Release.Name }}
    {{- with .Values.community.config.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
data:
  LOG_LEVEL: {{ .Values.logLevel | upper | quote }}
  IDENTITY_SERVICE: {{ printf "%s:%s" .Values.identity.service.name .Values.identity.port | quote }}
  DB_HOST: {{ .Values.postgresdb.service.name | quote }}
  DB_USER: {{ .Values.postgresdb.config.postgresUser | quote }}
  DB_PASSWORD: {{ .Values.postgresdb.config.postgresPassword | quote }}
  DB_NAME: {{ .Values.postgresdb.config.postgresDbName | quote }}
  DB_PORT: {{ .Values.postgresdb.port | quote }}
  MONGO_DB_HOST: {{ .Values.mongodb.service.name | quote }}
  MONGO_DB_PORT: {{ .Values.mongodb.port | quote }}
  MONGO_DB_USER: {{ .Values.mongodb.config.mongoUser | quote }}
  MONGO_DB_PASSWORD: {{ .Values.mongodb.config.mongoPassword | quote }}
  MONGO_DB_NAME: {{ .Values.mongodb.config.mongoDbName | quote }}
  SERVER_PORT: {{ .Values.community.port | quote }}
  TLS_ENABLED: {{ .Values.tlsEnabled | quote }}
